<div class="left-bar">
	<div class="main-nav">
		<h4><a href="#">Song Requests <i class="fa fa-plus"></i></a></h4>
		<ul>
			<!-- <li><a href="/login"><i class="fa fa-sign-in"></i>Login with Twitch</a></li> -->
			<li><a href="/songs/{{userData.urlChannel}}"><i class="fa fa-music"></i>Songs</a></li>
			<li><a href="/songcache/{{userData.urlChannel}}"><i class="fa fa-music"></i>Song Cache</a></li>
			<li><a href="/blacklist/{{userData.urlChannel}}"><i class="fa fa-ban"></i>Song Blacklist</a></li>
		</ul>
		<h4><a href="#">Misc. Data <i class="fa fa-plus"></i></a></h4>
		<ul>
			<li><a href="/commands/{{userData.urlChannel}}"><i class="fa fa-terminal"></i>Custom Commands</a></li>
			<li><a href="/chatlog/{{userData.urlChannel}}"><i class="fa fa-comments"></i>Chatlog</a></li>
		</ul>
		<h4><a href="#">Resources <i class="fa fa-plus"></i></a></h4>
		<ul>
			<li><a href="/login"><i class="fa fa-sign-in"></i>Login</a></li>
			<li><a href="https://docs.thedogebot.com"><i class="fa fa-certificate"></i>Documentation</a></li>
			<li><a href="https://stats.thedogebot.com/channel/{{userData.urlChannel}}"><i class="fa fa-file-text"></i>Statistics</a></li>
			<li><a href="https://docs.thedogebot.com/privacy-policy"><i class="fa fa-user-secret"></i>Privacy Policy</a></li>
			<li><a href="https://github.com/Skedog/DogeBot/issues/new?title=&assignee=&body=**Steps%20to%20reproduce**%0A%0A**Expected%20outcome**%0A%0A**Actual%20outcome**%0A%0A" target="_blank"><i class="fa fa-bug"></i>Submit a Bug</a></li>
			<li><a href="http://ske.dog/donate" target="_blank"><i class="fa fa-money"></i>Donate</a></li>
		</ul>
	</div>
</div>