<h1><i class="fa fa-cog"></i> Song Settings</h1>
<p>Change the settings below to change the way the bot handles your song requests!</p>
<form action="#" name="settings" id="settings">
	<label for="duplicateSongDelay"><span>Duplicate song delay (hours): </span><input type="text" name="duplicateSongDelay" id="duplicateSongDelay" value="{{{userData.channelInfo.0.duplicateSongDelay}}}" /></label>
	<label for="songNumberLimit"><span>Songs per user (count): </span><input type="text" name="songNumberLimit" id="songNumberLimit" value="{{{userData.channelInfo.0.songNumberLimit}}}" /></label>
	<label for="maxSongLength"><span>Max song length (minutes): </span><input type="text" name="maxSongLength" id="maxSongLength" value="{{{userData.channelInfo.0.maxSongLength}}}" /></label>
	<label for="channelCountry"><span>Country Code (<a href="http://www.nationsonline.org/oneworld/country_code_list.htm" target="_blank">2 letters</a>): </span><input type="text" name="channelCountry" id="channelCountry" maxlength="2" value="{{{userData.channelInfo.0.ChannelCountry}}}" /></label>
	<input type="submit" name="submit" value="Submit" class="blue-styled-button" />
</form>
<div class="messagesFromBot"></div>
<script src="https://ttv-api.s3.amazonaws.com/twitch.min.js"></script>
<script src="/js/validator.min.js"></script>
<script>
let failedField = false;
$(document).ready(function() {
	$('#settings').children('label').children('input[type="text"]').keyup(function(e) {
		try {
			validateSettingsField($(this));
			failedField = false;
		} catch (err) {
			failedField = true;
		}
	});
});
$('#settings').submit(function(e) {
	e.preventDefault();
	const duplicateSongDelay = $('#duplicateSongDelay').val();
	const songNumberLimit = $('#songNumberLimit').val();
	const maxSongLength = $('#maxSongLength').val();
	const channelCountry = $('#channelCountry').val();
	$('#settings').children('label').children('input[type="text"]').each(function(){
		try {
			validateSettingsField($(this));
		} catch (err) {
			failedField = true;
			return false;
		};
	});
	if (!failedField) {
		const data = 'channel=#{{userData.loggedInChannel}}&duplicateSongDelay=' + duplicateSongDelay + '&songNumberLimit=' + songNumberLimit + '&maxSongLength=' + maxSongLength + '&channelCountry=' + channelCountry;
		$.ajax({
			url: '/updatesettings',
			data: data,
			type: 'POST',
			success: function(data) {
				$('.messagesFromBot').html('<p>' + 'Settings updated!' + '</p>').fadeIn("fast");
				setTimeout(function(){
					$('.messagesFromBot').fadeOut("slow");
				},2000);
			}
		});
	}
});

function validateSettingsField(fieldToCheck) {
	if (fieldToCheck.is('#maxSongLength')) {
		if (fieldToCheck.val() > 59) {
			fieldToCheck.css({
				'background-color':'#ff5252'
			});
			$('.messagesFromBot').html('<p>' + 'Max song length cannot be larger than 59 minutes!' + '</p>').fadeIn("fast");
			setTimeout(function(){
				$('.messagesFromBot').fadeOut("slow");
			},2000);
			reject('failed check');
		}
	}
	if (fieldToCheck.is('#channelCountry')) {
		fieldToCheck.val(fieldToCheck.val().toUpperCase());
	}
	if (!fieldToCheck.is('#channelCountry') && !validator.isNumeric(fieldToCheck.val())) {
		fieldToCheck.css({
			'background-color':'#ff5252'
		});
		return 'failed check';
	} else {
		fieldToCheck.removeAttr('style');
		return 'done';
	}
};
</script>